{% extends 'navbar.html' %}
{% block content %}
<h1 class="text-center text-dark" style="background-color: #b69cfe;height: 54px; margin-top: 40px;">My Orders</h1>
{% if messages %}
{%for i in messages%}
{% if i.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="alert alert-success alert-dismissible">
    <button class="close" data-dismiss="alert">&times;</button>
    {{i}}
</div>
{%endif%}
{% if i.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
<div class="alert alert-danger alert-dismissible">
    <button class="close" data-dismiss="alert">&times;</button>
    {{i}}
</div>
{%endif%}
{%endfor%}
{% endif %}
{% for i in order %}
<div class="row" style="margin-top: 20px;margin-right: 0px;">
    <div class="col">
        <img src="{{i.cart.product.image.url}}" height="300px" width="60%" style="margin-top: 70px; margin-left: 76px;"
            alt="">
    </div>
    <div class="col" style="top: 45px; left: -140px;">
        <ul class="list-group">
            <li class="list-group-item bg-primary" style="border-radius: 0px;"><strong
                    class="text-light">{{i.cart.product.name}}</strong></li>
            <li class="list-group-item"><strong>Quantity : {{i.cart.quantity}}</strong></li>
            <li class="list-group-item"><strong>Order Placed Date : {{i.date}}</strong></li>
            <li class="list-group-item"><strong>Rs : {{i.cart.product.price}}/-</strong></li>
            <li class="list-group-item"><strong>Total Amount to Pay- Rs : <b class="text-success"
                        style="font-size: 20px;">{{i.cart.totalpayment}}/-</b></strong>
            </li>
            <li class="list-group-item">
                {% if i.status == "Delivered" %}
                <p><strong>Order Status :</strong><strong class="text-success"> {{i.status}}</strong></p>
                <a href="" class="btn btn-outline-primary" style="margin-top: 0px;"><strong>Return</strong></a>
                <a href="" class="btn btn-outline-success"
                    style="margin-top: 0px;margin-left: 5px;"><strong>Exchange</strong></a>
                {%endif%}

                {% if i.status == "Out For Delivery" %}
                <p><strong>Order Status :</strong><strong class="text-warning"> {{i.status}}</strong></p>
                {%endif%}

                {% if i.status == "Cancelled" %}
                <p><strong>Order Status :</strong><strong class="text-danger"> {{i.status}}</strong></p>
                {%endif%}

                {% if i.status == "Order Placed" %}
                <p><strong>Order Status :</strong><strong class="text-info"> {{i.status}}</strong></p>
                <a href="{% url 'cancel' i.id %}" onclick="return confirm('Are You Sure?')" class="btn btn-danger"
                    style="margin-top: 4px; width: 30%;"><strong>Cancel Order</strong></a>
                {%endif%}

                {% if i.status == "Shipped" %}
                <p><strong>Order Status :</strong><strong class="text-info"> {{i.status}}</strong></p>
                <a href="{% url 'cancel' i.id %}" onclick="return confirm('Are You Sure?')" class="btn btn-danger"
                    style="margin-top: 4px; width: 30%;"><strong>Cancel Order</strong></a>
                {%endif%}
            </li>
        </ul>
    </div>
</div>
<hr style="background-color: #b69cfe;height: 2px;margin-top: 92px;">
{%endfor%}
{% endblock content %}